body {
    background-color: #fca311;
    vertical-align: middle;
    font-family: sans-serif;
    color: #e5e5e5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    width: 18rem;
    padding: 20px;
    &__header {
        text-align: center;
        font-weight: 900;
    }
    &__body {
        p {
            margin: 5px 0px;
            font-weight: 600;
        }
        .input {
            background-color: #e5e5e5;
            border: 3px solid transparent;
            border-radius: 10px;
            outline: none;
            width: 100%;
        }
        .input--red {
            border-color: red;
        }
        .input:hover {
            border-color: #fca311;
        }
    }
    &__footer {
        margin-top: 15px;
    }
    @media screen and (max-width: 600px) {
        margin-top: 50px;
    }
}

.card:hover {
    box-shadow: 1px 0px 119px 23px rgba(0, 0, 0, 0.78);
    transition: 800ms;
}

.info {
    display: none;
    .info--red {
        background-color: rgb(187, 3, 3);
    }
    .info--green {
        background-color: rgb(109, 173, 12);
    }
}